body,
html {
    background: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0px;
}

h1 {
    margin: 0;
    position: center;
}

.title {
    position: relative;
    transform: skew(-25deg);
    top: 25%;
    text-align: center;
    margin: auto;
    width: 40%;
    padding: 5px;
    font-size: 30px;
    background-color: #eceff7;
    border: 10px solid #181818;
    border-style: ridge;
}

.title :hover {
    color: #eceff7;
    background-color: #181818;
    transition: all 0.75s ease-in-out;
}

.form {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}

input[type=text] {
    border: none;
    width: 50%;
    padding: 20px 30px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: #eceff7;
    transform: skew(-25deg);
    border: 10px solid black;
    border-style: ridge;
    font-size: 27px;
    text-align: center;
    font-weight: bold;
    outline: none;
}

input[type=text]:hover {
    transition: all 0.5s ease-in-out;
    box-shadow: 0 10px 50px #fff9d4;
    font-weight: bold;
    width: 60%;
}

::placeholder {
    color: rgb(73, 73, 73);
    font-weight: 100;
    opacity: 0.8;
    font-size: 21px;
}

.bg {
    height: 100%;
    position: relative;
}

.submit {
    background-color: #181818;
    border: none;
    color: white;
    padding: 10px 32px;
    margin-top: 0.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border: 10px solid #eceff7;
    border-style: double;
    transform: skew(-20deg);
}

.submit:hover {
    transition: 1s ease-in-out;
    box-shadow: 0 10px 50px #fff9d4;
    color: #181818;
    background-color: #fff5b2;
}

a:link {
    text-decoration: none;
    background-color: #eceff7;
    position: absolute;
    border: 10px solid #181818;
    border-style: double;
    color: #181818;
    padding: 10px 32px;
    margin-top: 50vh;
    margin-left: 43vw;
    text-align: center;
    font-size: 25px;
    transform: skew(-20deg);
}

a:link:hover {
    transition: all 0.5s ease-in-out;
    box-shadow: 0 10px 40px #fff5b2;
    background-color: #fff5b2;
    border: #eceff7 10px solid;
    border-style: double;
}

@media screen and (max-width: 960px) {
    .title {
        width: 80vw;
        font-size: x-large;
    }

    input[type=text] {
        margin-top: 0px;
        margin-bottom: 3vh;
    }

    a:link {
        margin-left: 30vw;
    }
}
