<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Melody Generator</title>
</head>

<body>
    <div class="bg">
        <div class="title">
            <h1>Melody Generator</h1>
        </div>
        <div class="form">
            <form action="{{ url_for('predict') }}" method="post">
                <input type="text" title="Input a combination of a number between 50-80 and '_' separated by space. E.g. 65 _ 50 _" name="melody" required="required" placeholder="Input a combination of a number between 50-80 and '_' separated by space. E.g. 65 _ 50 _"/>
                <div>
                    <button class="submit" type="submit">Generate</button>
                </div>
            </form>
        </div>
        <br>
        <!-- 
            In-case, the predicted tune needs to be displayed
            {{ predicted_melody }}
        -->
        <br>
            {% if can_download %}
            <a href="{{ url_for('download_file') }}">Download</a>
            {% endif %}
    </div>
</body>

</html>
